<nav class="navbar navbar-expand-lg navbar-light mb-2">
    <div class="container-fluid nav-container py-md-3">
        <a class="navbar-brand" href="">
            LiKHA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex-md" id="navbarNav">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-link d-flex align-items-center" href="/admin/Users">
                        <p class="m-2">Users</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex align-items-center" href="/admin/Products">
                        <p class="m-2">Product</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex align-items-center" href="/admin/Orders">
                        <p class="m-2">Orders</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex align-items-center" href="/admin/Categories">
                        <p class="m-2">Categories</p>
                    </a>
                </li>
                <li>
                    <a class="nav-link d-flex align-items-center" href="/admin/Addresses">
                        <p class="m-2">Addresses</p>
                    </a>
                </li>
            </ul>
            <div class="ms-auto">
                <a class="nav-link d-flex align-items-center" href="/admin">
                    <p class="m-2 ">Administration Page</p>
                </a>
            </div>
        </div>
    </div>
</nav>
