.body-container {
    border: 1px solid #dddddd;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.account-container {
    padding: 30px;
    background: #f6f6f6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-bottom: 30px;
}

.account-image {
    width: auto;
    max-height: 150px;
    border-radius: 100px;
    margin-bottom: 20px;
    background: url(image.png);
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.6));
}

.address-box {
    background: #f6f6f6;
    box-shadow: -2px 0px 0px #cccccc;
}

.account-edit {
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 25px;
    letter-spacing: 3px;
}

.address-title {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.address-content {
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 1px;
    margin: 3px 0px;
}

.account-container-xl {
    padding: 20px;
    margin: 10px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.address-box-xl {
    width: 50%;
    padding: 10px 0px;
    background: #ffffff;
    box-shadow: 0px -2px 0px #cccccc;
}

.edit-title {
    margin: 0;
    margin-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.label-form {
    text-indent: 5px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: 400;
    font-size: 0.85rem;
    line-height: 18px;
    letter-spacing: 1px;
}

::deep .input-form {
    margin-top: 10px;
    background: #ffffff;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    width: 70%;
    height: 30px;
    text-indent: 5px;
}

.save-box {
    margin-top: 60px;
}

.save-button {
    border: none;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 20px;
    text-align: center;
    letter-spacing: 3px;
    padding: 10px 30px;
}
