<footer class="container-fluid d-flex justify-content-around align-items-center mt-2 pt-3">
    <h2>LiKHA</h2>
    <ul class="footer-list">
        <li class="footer-title my-sm-3">about</li>
        <li class="footer-content my-sm-2">FAQS</li>
        <li class="footer-content my-sm-2">our story</li>
    </ul>
    <ul class="footer-list">
        <li class="footer-title my-sm-3">contact us</li>
        <li class="footer-content my-sm-2">likhaofficial.email.com</li>
        <li class="footer-content my-sm-2">+6394528362</li>
    </ul>
    <div class="footer-list">
        <p class="footer-title my-sm-3">follow us</p>
        <ul class="follow-imgs d-flex align-items-center">
            <li class="mx-sm-2"><button><i class="bi bi-facebook"></i></button></li>
            <li class="mx-sm-2"><button><i class="bi bi-instagram"></i></button></li>
            <li class="mx-sm-2"><button><i class="bi bi-youtube"></i></button></li>
        </ul>
    </div>
</footer>