
<div class="loading-div d-flex justify-content-center w-100">
    <div class="loading-box d-flex flex-column align-items-center justify-content-center">
        <img src="@defaultLoadingPic" alt="Loading Pic">
        <img src="@defaultLikhaLoad" alt="Loading Likha">
        <img src="@defaultLoadText" alt="Loading Likha">
    </div>
</div>

@code {
    string defaultLoadingPic = "../css/loading-pic.svg";
    string defaultLikhaLoad = "../css/likha-load.svg";
    string defaultLoadText = "../css/load-text.svg";
}