@inject ISyncLocalStorageService SyncLocalStorage
@inject ILocalStorageService LocalStorage
@inject IUserService UserService
@inject AuthenticationStateProvider AuthState
@inject NavigationManager Navigate
@inject IJSRuntime JsRuntime

<nav class="navbar navbar-expand-lg navbar-light mb-2">
    <div class="container-fluid nav-container py-md-3">
        <a class="navbar-brand" href="">
            LiKHA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex-md justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <AuthorizeView>
                    <NotAuthorized>
                        <li>
                            <a class="nav-link d-flex align-items-center" href="/login">
                                <i class="bi bi-person-circle"></i>
                                <p class="d-block d-lg-none m-2">Login</p>
                            </a>
                        </li>
                    </NotAuthorized>
                    <Authorized>
                        <li>
                            <a class="nav-link d-flex align-items-center" href="/cart">
                                <i class="bi bi-handbag-fill"></i>
                                <p class="d-block d-lg-none m-2">Cart</p>
                            </a>
                        </li>
                        <li>
                            <a class="nav-link d-flex align-items-center" href="/gallery">
                                <i class="bi bi-images"></i>
                                <p class="d-block d-lg-none m-2 ">Gallery</p>
                            </a>
                        </li>
                        <li class="nav-item dropdown dropstart">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-person-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/account">@SyncLocalStorage.GetItemAsString("username") Account</a>
                                <a class="dropdown-item" @onclick="Logout">Logout</a>
                            </div>
                        </li>
                    </Authorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {

    private async void Logout()
    {
        await LocalStorage.RemoveItemAsync("username");
        await AuthState.GetAuthenticationStateAsync();
        Navigate.NavigateTo("/login");
    }
}