<nav class="navbar navbar-expand-lg navbar-light mb-2">
    <div class="container-fluid nav-container py-md-3">
        <a class="navbar-brand" href="#">
            LiKHA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse  d-flex-md justify-content-end" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-link d-flex align-items-center" href="#">
                    <i class="oi oi-dashboard"></i>
                    <p class="d-block d-lg-none m-2 ">Gallery</p>
                </a>
                <a class="nav-link d-flex align-items-center" href="#">
                    <i class="oi oi-cart"></i>
                    <p class="d-block d-lg-none m-2">Cart</p>
                </a>
                <a class="nav-link d-flex align-items-center" href="#">
                    <i class="oi oi-person"></i>
                    <p class="d-block d-lg-none m-2">Account</p>
                </a>
            </div>
        </div>
    </div>
</nav>
