@inject NavigationManager NavManager

<div class="container-fluid">
    <div class="header-box my-4">
        <div class="title-card row">
            <h1 class="main-title">Building a New Kind of Gallery</h1>
            <h3 class="main-subtitle">A digital marketplace for selling and buying artworks</h3>
        </div>
        <div class="header-content row">
            <div class="header-left-card col-4 d-flex flex-column justify-content-between align-items-start">
                <button class="get-started" @onclick="OnJoinClick">Get Started</button>
                <div class="quote-box d-flex flex-column justify-content-around d-none d-lg-block">
                    <h3 class="quote-content">"Creativity Takes Courage"</h3>
                    <p class="quote-author text-center">Henri Mattise</p>
                </div>
            </div>
            <div class="header-right-card col-8 d-flex justify-content-end">
                <img src="./css/images/header2.jpg" alt="header" class="header-img d-none d-lg-block">
                <img src="./css/images/header.png" alt="header" class="header-img d-none d-lg-block">
            </div>
        </div>
    </div>
    <div class="category-box my-4 row">
        <div class="category-card col d-flex flex-column align-items-center">
            <p class="category-type" @onclick="OnJoinClick">Painting</p>
            <img src="./css/images/painting-c.png" alt="Painting" class="category-img">
        </div>
        <div class="category-card col d-flex flex-column align-items-center">
            <p class="category-type" @onclick="OnJoinClick">Digital Art</p>
            <img src="./css/images/digital-art-c.png" alt="Painting" class="category-img">
        </div>
        <div class="category-card col d-flex flex-column align-items-center">
            <p class="category-type" @onclick="OnJoinClick">Drawing</p>
            <img src="./css/images/drawing-c.png" alt="Painting" class="category-img">
        </div>
        <h3 class="category-quote text-center">Every art has an untold stories</h3>
    </div>
</div>
<div class="join-container my-4">
    <div class="join-card mt-5 pt-5 d-flex flex-column align-items-center justify-content-md-center">
        <h3 class="join-text">We make the artwork accessible to everyone</h3>
        <button @onclick="OnJoinClick" class="btn-join mt-md-5">Join Us</button>
    </div>
</div>

@code {
    private void OnJoinClick()
    {
        NavManager.NavigateTo("/login");
    }
}