.header-box {
    width: 100%;
    margin-bottom: 30px;
    height: 80vh;
}

.title-card {
    margin: 50px 0px;
}

.body-container {
    min-height: 50vh;
}

.main-title {
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 65px;
    letter-spacing: .7rem;
    color: #000000;
}

.main-subtitle {
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: .3rem;
    color: #000000;
}

.get-started {
    padding: 10px 45px;
    background: #DDDDDD;
    box-shadow: -6px -6px 5px rgba(255, 255, 255, 0.7), 3px 5px 5px rgba(10, 9, 9, 0.7);
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #0A0909;
}

    .get-started:hover {
        background-color: #000000;
        color: #ffffff;
    }

.header-content {
    width: 100%;
}

.quote-box {
    height: 50%;
}

.quote-content {
    font-style: italic;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 33px;
    letter-spacing: .5rem;
    text-transform: capitalize;
    color: #0A0909;
}

.quote-author {
    font-style: italic;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 25px;
    letter-spacing: .4rem;
    text-transform: capitalize;
    color: #0A0909;
}

.header-img {
    width: 30%;
    height: 100%;
}

/* Category */
.category-box {
    width: 100%;
    background: #131313;
    border-radius: 30px;
    padding: 40px;
}

.category-img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
    border-radius: 40px;
    width: 80%;
    cursor: pointer;
}

    .category-img:hover {
        width: 90%;
        border-radius: 10px;
        border: 4px solid #FFFFFF;
    }

.category-type {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    text-shadow: 0px 5px 5px #DDDDDD;
}

.category-quote {
    margin: 50px 0px;
    font-style: normal;
    font-weight: 300;
    font-size: 2.25rem;
    line-height: 49px;
    text-align: center;
    letter-spacing: .5rem;
    color: #FFFFFF;
}

/* join box */

.join-card {
    height: 60vh;
    background: url(./css/images/join-bg.png);
    background-position: bottom;
    background-repeat: repeat-x;
}

.join-text {
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    letter-spacing: .3rem;
    text-transform: capitalize;
    color: #000000;
}

.btn-join {
    padding: 10px 50px;
    border: 4px solid #727479;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: transparent;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: #131313;
}

    .btn-join:hover {
        background-color: #000000;
        border: none;
        color: #FFFFFF;
    }

@media (min-width: 641px) {
    .header-box {
        height: auto;
    }
}

@media (min-width: 1000px) {
    .header-box {
        height: 80vh;
    }
}


@media (max-width: 640.98px) {
    .header-box {
        height: auto;
    }

    .title-card {
        margin: 0px;
    }

    .main-title {
        font-size: 1.2rem;
        letter-spacing: .3rem;
    }

    .main-subtitle {
        font-size: .9rem;
        letter-spacing: .2rem;
    }

    .get-started {
        padding: 5px 15px;
        font-size: .7rem;
        letter-spacing: 0.02em;
    }

    /* category */

    .category-img {
        border-radius: 20px;
    }

    .category-type {
        font-size: .7rem;
        letter-spacing: 0.1em;
    }

    .category-quote {
        margin: 20px 0px;
        font-size: 1rem;
        letter-spacing: .5rem;
    }

    /* join */
    .join-card {
        height: 30vh;
    }

    .join-text {
        font-size: .9rem;
        letter-spacing: .1rem;
    }

    .btn-join {
        padding: 5px 25px;
        font-size: .9rem;
        letter-spacing: .1rem;
    }
}
