<div class="col">
    <div class="art-card p-md-3">
        <img src="https://picsum.photos/500/1500" alt="" class="art-img">
        <div class="card-body">
            <span class="tag">Painting</span>
            <span class="tag">Religous</span>
            <h5 class="card-title my-md-2">ArtWorks</h5>
            <h6 class="card-subtitle my-md-2">Tamara Menzi</h6>
            <p class="card-text d-none d-xl-block">
                Some quick example text to build on the card title and make up the
                bulk of the card's
                content.
            </p>
            <h6 class="card-subtitle">&#8369; 1,500</h6>
        </div>
    </div>
</div>
@code {

}
