@page "/about"

<div class="container-fluid body-container">
    <div class="about-box row m-5">
        <div class="about-img-card col-xl-6 d-flex justify-content-center">
            <img src="./css/images/about.jpg" class="about-img" alt="">
        </div>
        <div class="about-content-card col-xl-6 d-flex justify-content-center">
            <div class="about-content-border">
                <h3 class="about-title text-center">About Us</h3>
                <p class="about-content text-center">
                    Likha is a digital marketplace for buying and selling artworks. Prices are set by the artists themselves and the
                    artworks transfer ownership directly to the buyer. The platform holds all the funds in escrow until each transaction is
                    complete, and payment is transferred to the artist only after both parties are satisfied with the final product.
                </p>
                <p class="about-content text-center">
                    Likha has been developed to help people buy and sell artworks. The website is based on three core principles:
                    Simplicity, transparency and security. We believe these are the cornerstones for any marketplace, online or not.
                </p>
            </div>
        </div>
    </div>
    <div class="team-box my-4 row">
        <h3 class="team-title text-center">Our LiKHA Team</h3>
        <div class="team-card col d-flex flex-column align-items-center">
            <img src="./css/images/team.png" alt="Painting" class="member-img">
            <p class="member-name">Hanz Patrick A. Andrada</p>
        </div>
        <div class="team-card col d-flex flex-column align-items-center">
            <img src="./css/images/team.png" alt="Painting" class="member-img">
            <p class="member-name">Mark Joseph Q. Batinga</p>
        </div>
        <div class="team-card col d-flex flex-column align-items-center">
            <img src="./css/images/team.png" alt="Painting" class="member-img">
            <p class="member-name">Joe Patrick Valin</p>
        </div>
    </div>
</div>
