@page "/cart"

<div class="container-fluid mb-3">
    <div class="row">
        <div class="col-xl-8">
            <div class="body-title p-4 d-flex justify-content-between align-items-center">
                <h3 class="my-cart">My Cart</h3>
                <form class="select-all-form" action="">
                    <label class="select-all" for="select-all">Select All</label>
                    <input type="checkbox" name="select-all" id="select">
                </form>
            </div>
            <div class="d-md-none d-block">
                <div class="cart-arts p-4 mb-3 d-flex justify-content-between align-items-center">
                    <div class="art-md-left d-flex align-items-center">
                        <img src="https://picsum.photos/200/300" alt="" class="img-art-md">
                        <div class="mx-4">
                            <h3 class="art-title-md">LoveBug</h3>
                            <p class="art-content-md">12345</p>
                            <p class="art-content-md">Tamara Menzi</p>
                            <p class="art-content-md">03/15/2022</p>
                        </div>
                    </div>
                    <div class="art-md-right d-flex flex-column align-items-end">
                        <input type="checkbox" name="select" id="">
                        <h4 class="art-price-md price">Php 12,000</h4>
                    </div>
                </div>
                <div class="cart-arts p-4 mb-3 d-flex justify-content-between align-items-center">
                    <div class="art-md-left d-flex align-items-center">
                        <img src="https://picsum.photos/200/300" alt="" class="img-art-md">
                        <div class="mx-4">
                            <h3 class="art-title-md">Lorem ipsum dolor sit amet.</h3>
                            <p class="art-content-md">12345</p>
                            <p class="art-content-md">Tamara Menzi</p>
                            <p class="art-content-md">03/15/2022</p>
                        </div>
                    </div>
                    <div class="art-md-right d-flex flex-column align-items-end">
                        <input type="checkbox" name="select" id="">
                        <h4 class="art-price-md price">Php 12,000</h4>
                    </div>
                </div>
            </div>
            <div class="cart-artwork p-5 d-md-block d-none d-flex justify-content-center salign-items-center">
                <table class="cart-table">
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Artwork</th>
                        <th>Artist</th>
                        <th>Total</th>
                        <th>Select</th>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>jan 18, 2022</td>
                        <td><img src="https://picsum.photos/200/300" alt="" class="art-img"></td>
                        <td>Tamara Menzi</td>
                        <td class="price">Php 12,000</td>
                        <td>
                            <form action="">
                                <input type="checkbox" name="select" id="">
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>123456</td>
                        <td>jan 18, 2022</td>
                        <td><img src="https://picsum.photos/200/300" alt="" class="art-img"></td>
                        <td>Tamara Menzi</td>
                        <td class="price">Php 12,000</td>
                        <td>
                            <form action="">
                                <input type="checkbox" name="select" id="">
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-xl-4 summary-container my-3 p-5 d-flex justify-content-center">
            <div class="order-container p-4">
                <h3 class="order-summary">Order Summary</h3>
                <div class="fee-container my-3">
                    <div class="left">
                        <h4 class="summary-title">Shipping Fee</h4>
                        <h4 class="summary-title">Subtotal</h4>
                        <h4 class="summary-title">Total</h4>
                    </div>
                    <div class="right">
                        <p class="summary-total">Php 12,000</p>
                        <p class="summary-total">Php 1,000</p>
                        <p class="summary-total">Php 13,500</p>
                    </div>
                </div>
                <button class="btn btn-lg">Checkout</button>
            </div>
        </div>
    </div>
</div>

@code {

}
