@page "/login"
@inject ILocalStorageService LocalStorage
@inject IUserService UserService
@inject AuthenticationStateProvider AuthState
@inject NavigationManager Navigate
@inject IToastService ToastService
@inject IJSRuntime JsRuntime

<div class="container-fluid main-container d-flex justify-content-center">
    <div class="login-container d-flex flex-column align-items-center">
        <h3 class="logo">LiKHA</h3>
        <div class="btn-box d-flex justify-content-around">
            <button class="btn btn-switch" @onclick='() => ChangeForm("login")'>Login</button>
            <button class="btn btn-switch" @onclick='() => ChangeForm("register")'>Register</button>
        </div>
        <div class="@LoginString">
            <EditForm Model="user" OnSubmit="HandleLogin" class="form-box d-flex flex-column w-100">
                <label for="login_username">Email/Username</label>
                <input type="text" @bind-value="user.Username" id="login_username" class="input-box">
                <label for="login_password">Password</label>
                <input type="password" @bind-value="user.Password" id="login_password" class="input-box">
                <button type="submit">Login</button>
            </EditForm>
        </div>
        <div class="@RegisterString">
            <EditForm Model="user" OnSubmit="HandleRegister" class="form-box d-flex flex-column w-100">
                <label for="username">Email/Username</label>
                <input type="text" @bind-value="user.Username" id="username" class="input-box">
                <label for="password">Password</label>
                <input type="password" @bind-value="user.Password" id="password" class="input-box">
                <label for="last_name">Last Name</label>
                <input type="text" @bind-value="user.LastName" id="last_name" class="input-box">
                <label for="first_name">First Name</label>
                <input type="text" @bind-value="user.FirstName" id="first_name" class="input-box">
                <label for="address">Address</label>
                <input type="text" @bind-value="user.Address" id="address" class="input-box">
                <label for="phone">Phone Number</label>
                <input type="text" @bind-value="user.Phone" id="phone" class="input-box">
                <button type="submit">Register</button>
            </EditForm>
        </div>
        <a href="" class="forgot-link">Forgot Password</a>
    </div>
</div>

@code {
    private User user = new User();
    private string LoginString = string.Empty;
    private string RegisterString = "d-none";

    private async void HandleLogin()
    {
        var DbUser = await UserService.LoginUser(user);
        if (DbUser.Id == 0)
        {
            ToastService.ShowError("Wrong Credentials", "Wrong Username or password Please try again :(");
        }
        else
        {
            await LocalStorage.SetItemAsync<string>("username", DbUser.Username);
            await AuthState.GetAuthenticationStateAsync();
            Navigate.NavigateTo("");
        }
    }

    private async void HandleRegister()
    {
        Console.WriteLine("Register");
        await JsRuntime.InvokeVoidAsync("console.log", user);
        await UserService.CreateUser(user);
    }

    private void ChangeForm(string switchBtn)
    {
        if(switchBtn == "login")
        {
            LoginString = string.Empty;
            RegisterString = "d-none";
        }
        else
        {
            LoginString = "d-none";
            RegisterString = string.Empty;
        }
    }
}
